

/* All Header styling */
body{
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.container{
    
    margin: 0 45px;
}
.main-header{
    margin-top: 10px;
    padding: 0 10px;
    
    display: flex;
    justify-content: space-between;
    
}
.sign-area{
  display: inline;
  margin-top: 10px;
    text-align: center;
   
}
.logo-area {
    padding-bottom: 8px;
    padding-top: 2px;
}
.logo-area img{
    width: 40px;
}
.blog{
    font-family: 'Hind', sans-serif;
   margin-right:28px ;
}

.login{
    margin-left: 28px;
    margin-right: 5px;
    width: 35px;
    margin-bottom: -10px;
  
}

.sign-up{
    border-radius: 50px;
    padding: 7px 24px;
  font-size: 15px;

    color: #37ACF1;
    cursor: pointer;
     border: 1px solid #37ACF1 ;
 background-color: transparent;
}
@media (max-width:500px) {
    .login {
    margin-left: 28px;
    margin-right: -18px;
    width: 35px;
    margin-bottom: -10px;
}
.container {
    margin: 0 23px;
}
}